html,body{
	font-size: 62.5%;
	font-family: "Open Sans", arial;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.btn{
  background-color: hsl(163, 95%, 43%);
}
a{
	text-decoration: none;
	color:white;
}

.container{
	width:90%;
	overflow: hidden;
	margin: auto;
}

header{
	overflow: auto;
	padding-top:20px;
	background-image: linear-gradient(to right,hsl(243, 87%, 12%),hsl(243, 58%, 33%),hsl(243, 86%, 85%)) ;
}
.comp{
	float: left;
}
.comp img{
	width:80px;
}

nav{
	float: right;
	font-size: 1.5rem;
	color:#ffffff;
}
nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-right:15px;
	height:35px;
	width:100px;
	text-align: center;
	padding-top:4px;
}

.show-case{
	height: 80vh;
    position:relative;
                            /* top-left, top-right, bottom-right, bottom-left */
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 100%, 0 65%);
            clip-path:polygon(0 0, 100% 0, 100% 100%, 0 65%);
	background-image: linear-gradient(to right,hsl(243, 87%, 12%),hsl(243, 58%, 33%),hsl(243, 86%, 85%)) ;
}



.show-case h3{
	color:#ffffff;
	font-size: 2.1rem;
}
.show-case img{
	width:250px;
	height:auto;
	position: absolute;
	top:20%;
	left:65%;

}
.seller-l{
	position:absolute;
	top:20%;
}
.seller-l a{
   margin-top:30px;
   height:40px;
   width:49%;
   display: block;
   text-align: center;
   font-size:1.7rem;
   padding-top:6px;
}

.info{
	font-size: 1.5rem;
}
.info h1{
	margin-top:20px;
	text-align: center;
}
.flex{
	display: flex;
	margin-top:70px;
	justify-content: space-between;
}
.flex img{
	margin-top:50px;
	display: block;
	width:25%;
	height:50vh;
}
.flex h3{
	margin-bottom: 15px;
}
.flex p{
	margin-bottom: 32px;
}
.center-info{
	width:29%;
}
.right-info{
	width:30%;
}

.subscribe{
	font-size: 1.4rem;
	text-align: center;
}
.subscribe h1{
	margin-top: 75px;
	margin-bottom: 25px;
}
.subscribe p{
	margin-bottom: 25px;

}
.subscribe input[type="email"]{
  height:34px;
  width:25%;
  margin-right: 15px;
  border:none;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #bdc3c7 ;

}

.subscribe button[type="submit"]{
border-radius: 3px;
  width:10%;
  border:none;
  height:35px;
  box-shadow: 1px 1px 8px #bdc3c7 ;
}

footer{
	font-size: 1.4rem;
	background-color: hsl(243, 87%, 12%);
	height:60vh;
	color:#ffffff;
	-webkit-clip-path:polygon(0 0, 100% 35%, 100% 100%, 0 100%);
}
footer .container{
	position: relative;
	top:50%;
}

.flex-2{
	display: flex;
}

.b-left{
	width:17%;
	border-right:1px solid #ffffff;
	margin-right:60px;
}
.b-left h6{
	display: inline;
	
}
.b-center{
	width:41.5%;
	display: flex;
	border-right:1px solid #ffffff;
	justify-content: space-between;
	padding-right:60px;
	/*text-align: center;*/
}
.b-center h4{
	margin-bottom:5px;
}
.b-center a{
	display: block;
	margin-bottom:5px;
}
#itm-1{
	width: 30%;
}
#itm-2{
	width: 30%;
}
#itm-3{
	width: 30%;
}

.b-right{
	width:41.5%;
	text-align: right;
}

.b-right input[type="email"]{
  height:34px;
  width:75%;
  margin-top: 20px;
  border:none;
  border-radius: 2px;

}

.b-right button[type="submit"]{
border-radius: 3px;
  width:40%;
  border:none;
  height:35px;
  margin-top: 15px;
}